<div class="container">
  <div class="row">
    <div class="col-md-6">
      <employee-search @context={{this}} />
    </div>
    <div class="col-md-6">
      <employee-form @context={{this}} />
    </div>
  </div>
</div>

